.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-right: 1rem;
}

.logoContainer {
	text-decoration: none;
	width: 5rem;
}

.nav {
	display: flex;
	gap: 1.5rem;
}

.link {
	font-size: 1.4rem;
	composes: regular from global;
}

.link a:hover {
	color: #ff0000;
	transition: 2s;
}

.active a {
	color: #ff0000;
}

@media only screen and (min-width: 60em) {
	/* For tablets: */
	.logoContainer {
		width: 8rem;
	}

	.nav {
		gap: 5rem;
	}

	.link {
		font-size: 1.6rem;
	}
}

@media only screen and (min-width: 76.8em) {
	/* For desktop: */
	.logoContainer {
		width: 10rem;
	}

	.nav {
		gap: 8rem;
	}

	.link {
		font-size: 1.8rem;
	}
}
