.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-right: 1rem;
}

.logoContainer {
	text-decoration: none;
	width: 6rem;
}

.nav {
	display: flex;
	gap: 1rem;
}

.link {
	font-size: 1.4rem;
	composes: regular from global;
}

.active a {
	color: #ff0000;
}

@media only screen and (min-width: 37.5em) {
	/* For tablets: */
	.logoContainer {
		width: 8rem;
	}

	.nav {
		gap: 2rem;
	}

	.link {
		font-size: 1.6rem;
	}
}

@media only screen and (min-width: 48em) {
	/* For desktop: */
	.logoContainer {
		width: 10rem;
	}

	.nav {
		gap: 3rem;
	}

	.link {
		font-size: 1.8rem;
	}
}
