.footer {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #808080;
	font-size: 1.2rem;
	composes: normal from global;
}

@media only screen and (min-width: 37.5em) {
	/* For tablets: */
	.footer {
		font-size: 1.4rem;
	}
}

@media only screen and (min-width: 48em) {
	/* For desktop: */
	.footer {
		font-size: 1.6rem;
	}
}
