/* Simple Reset */
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

/* For rem size 10px -> 1rem */
html {
	font-size: 62.5%;
}

/* For width to not include padding and margin */
body {
	box-sizing: border-box;
	background-color: #000;
	color: #fff;
	animation: fade 4s forwards;
}

.animate {
	animation: fade 4s forwards;
}

@keyframes fade {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: #fff;
}
