.normal {
	font-family: 'Josefin Slab', sans-serif;
	font-weight: 300;
}

.regular {
  font-family: 'Josefin Slab', sans-serif;
  font-weight: 400;
}

.bold {
	font-family: 'Josefin Slab', sans-serif;
	font-weight: 500;
}

